.flexjibal-container {
    display: flex;
    margin-top: 3%;
    margin-bottom: 130px;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 90%;
    padding-right: 3%;
}



body {
    font-family: 'Montserrat', sans-serif;
    color: rgba(87, 87, 87, 1);
    margin: 0;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

#bottom-small-space {
    margin-bottom: 50px;
}

#text-div_1 {
    margin-top: 100px;
    padding-left: 70px;
}

.gradiant-button {
    padding: 15px 35px;
    background-image: linear-gradient(rgba(251, 162, 79, 1), rgba(255, 30, 30, 1));
    text-decoration: none;
    border-radius: 50px;
    color: white;
}

.gradiant-text {
    background-image: linear-gradient(rgba(251, 162, 79, 1), rgba(255, 30, 30, 1));
    width: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#background-image {
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: auto 575px;
}

#middle-image {
    width: 60%;
    padding-left: 75%;
}

h2 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 7%;
}

#middle-text {
    padding-left: 23%;
    padding-right: 20%;
    padding-top: 3%;
}

#text-buttom-space {
    margin-bottom: 15%;
    line-height: 25px;
}

#middle-lorem {
    text-align: center;
}

.shape {
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    width: 80%;
    height: 10%;
    padding: 2% 2%;
    align-items: center;
    border-radius: 40px;
}

.shape img {
    width: 100%;
    height: 60%;
}

#left-side {
    margin-left: 6%;
    margin-right: 1%;
    padding-bottom: 6%;
}

#right-side {
    margin-left: 1%;
    margin-right: 6%;
    padding-bottom: 6%;
}

h3 {
    color: black;
    font-weight: 800;
    font-size: x-large;

}

p {
    line-height: 25px;
}